# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependencies
node_modules/
jspm_packages/
bower_components

# Env files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Node.js build artifacts
.next
out
dist
.temp
.cache
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache

# Parcel cache
.parcel-cache

# Nuxt
.nuxt

# FuseBox
.fusebox/

# DynamoDB Local
.dynamodb/

# Firebase
.firebase/

# VSCode test
.vscode-test

# Yarn v3
.yarn/*
.pnp.*

# Optional caches
.npm
.eslintcache
.stylelintcache
.node_repl_history

# Yarn Integrity file
.yarn-integrity

# Build / runtime directories
build/Release
lib-cov
.serverless/
.tern-port
