:root{
  --bg: #f9bbd2;
  --accent: #f16393;
  --accent-dark: #c31f5c;
  --text: #891951;
}

*{
  font-family: 'Quicksand', sans-serif;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

body{
  background: var(--bg);
  color: var(--text);
}

.heading{
  text-align: center;
  color: var(--text);
  text-transform: uppercase;
  padding: 35px 0;
  font-size: 40px;
}

.heading span{
  color: var(--accent-dark);
  text-transform: uppercase;
}

.btn{
  margin-top: 10px;
  display: inline-block;
  padding: 10px 25px;
  font-size: 18px;
  color: #fff;
  background: var(--accent);
  border-radius: 25px;
  cursor: pointer;
}

.btn:hover{
  background: var(--accent-dark);
}

.header{
  background: var(--accent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px;
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header .logo img{
  height: 60px;
}

.header .navbar a{
  margin:0 15px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

header .navbar a:hover{
  color: var(--accent-dark);
}

.header .icons div{
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  margin-left: 20px;
}

.header .icons div:hover{
  color: var(--accent-dark);
}

.header .search-form{
  position: absolute;
  top: 100%; 
  right: 80px;
  background: #fff;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header .search-form.active{
  transform: scaleY(1);
}

.header .search-form input{
  width: 100%;
  font-size: 16px;
  color: var(--text);
  padding: 0 15px;
}

.header .search-form label{
  cursor: pointer;
  font-size: 20px;
  margin-right: 15px;
  color: var(--accent);
}

.header .search-form label:hover{
  color: var(--accent-dark);
}

.header .cart-items-container{
  position: absolute;
  top: 100%; 
  right: -100%;
  width: 300px;
  background: #fff;
  padding: 15px;
  transition: 0.3s;
}

.header .cart-items-container.active{
  right: 0;
}

.header .cart-items-container .cart-item{
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .cart-items-container .cart-item .fa-times:hover{
  color:var(--accent-dark);
}

.header .cart-items-container .cart-item img{
  height: 60px;
}

.header .cart-items-container .cart-item .content h3{
  font-size: 16px;
  color: var(--text);
}

.header .cart-items-container .cart-item .content .price{
  font-size: 14px;
  color: var(--accent-dark);
}

.header .cart-items-container .btn{
  width: 100%;
  text-align: center;
}

section { padding: 60px 80px; }

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url() no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  max-width: 60rem;
}

.home .content h3{
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
}

.home .content p{
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

.about .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.about .row .image{
  flex: 1 1 45%;
}

.about .row .image img{
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.about .row .content{
  flex: 1 1 45%;
}

.about .row .content h3{
  font-size: 30px;
  margin-bottom: 15px;
}

.about .row .content p{
  font-size: 18px;
  margin-bottom: 10px;
}

.menu .box-container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:20px;
}

.menu .box-container .box{
  padding: 20px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.menu .box-container .box img{
  height: 150px;
}

.menu .box-container .box h3{
  color: var(--text);
  font-size: 22px;
  margin: 15px 0;
}

.menu .box-container .box .price{
  color: var(--accent-dark);
  font-size: 20px;
}

.menu .box-container .box .price span{
  font-size: 16px;
  text-decoration: line-through;
  font-weight: lighter;
}

.menu .box-container .box:hover{
  background: #fff;
}

/* .menu .box-container .box:hover > *{
  background: var(--black);
} */

.menu .box-container .box .btn:hover,
.products .box-container .box .btn:hover {
  background: var(--accent-dark);
  color: #fff;
}

.products .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:20px;
}

.products .box-container .box{
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background: #fff;
  border-radius: 8px;
}

.products .box-container .box .icons a{
 display: inline-block;
  margin: 5px;
  color: var(--accent);
  font-size: 20px;
  border: 1px solid var(--accent);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.products .box-container .box .icons a:hover{
  background: var(--accent);
  color: #fff;
}

.products .box-container .box .image{
  padding: 2.5rem 0;
}

.products .box-container .box .image img{
  height: 150px;
}

.products .box-container .box .content h3{
  color: var(--text);
  font-size: 22px;
  margin: 15px 0;
}

.products .box-container .box .content .stars{
  padding: 1.5rem;
}

.products .box-container .box .content .stars{
  font-size: 1.7rem;
  color: var(--text);
}

.products .box-container .box .content .price{
  color: var(--accent-dark);
  font-size: 2opx;
}

.products .box-container .box .content .price span{
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 16px;
}

.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact .row .map{
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form{
  flex: 1 1 45%;
  text-align: center;
}

.contact .row form h3{
  text-transform: uppercase;
  font-size: 28px;
  color: #fff;
  margin-bottom: 20px;
}

.contact .row form .inputBox{
  display: flex;
  align-items: center;
  background: #fff;
  margin: 15px 0;
  border-radius: 6px
}

.contact .row form .inputBox span{
  color: var(--accent);
  font-size: 20px;
  margin: 0 10px;
}

.contact .row form .inputBox input{
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.footer{
  background: var(--accent);
  text-align: center;
  padding: 20px 0;
}

.footer .share{
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
}

.footer .share a{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: 3rem;
  border-radius: 50%;
}

.footer .share a:hover{
  background-color: var(--main-color);
}

.footer .links{
  margin-top: 15px;
}

.footer .links a{
  color: #fff;
  margin: 0 10px;
  font-size: 18px;
}

.footer .links a:hover{
  background: var(--accent-dark);
}